@import "variables";
@import "typography";

@import "ember-cli-bootstrap-4/bootstrap";


tr.sum {
  background-color: rgba(#9ac017, 0.2);

}
.card-img {
  max-height: 220px;
  object-fit: cover;
}

.card-mp4 {
  max-height: 220px;
  object-fit: fill;
}

.card-yt {
  height: 220px;
}

.instagram {
  color: white;
  background-color: #d1307b;
}

.twitter {
  color: white;
  background-color: #1ea1f3;
}

.inactive {
  color: $light-gray;
}

.logo {
  max-height: 4em;
  margin-bottom: 2em;
}

h5 {
  font-weight: 300;
}

a.grey {
  color: $medium-gray;
}

img.avatar {
  max-width:100%;
  max-height:100%;
}
